<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


    <span>{{ name }} app is running!</span>
<menu-component></menu-component>
<!--interpolação-->
<my-button label="noticia"></my-button>
<my-button label="{{ buttonLabel}}"></my-button>

<!-- property binding-->
<my-button [label]="buttonSecond"></my-button>
<my-button [label]="'CARRINHO'"></my-button>

<h1>Olá Mundão</h1>
<app-entry-data></app-entry-data>